/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@300;400;500&display=swap');

/*Font family Link
font-family: 'Krona One', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
  padding: 0;
  margin: 0;
}

.Login-bg{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
}


.login{
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100vh;
  padding: 60px 80px 80px 80px;

}
.full-page{
  width: 100%;
  height: 500px !important;
  background: linear-gradient(to left, #ffffff, #3F25AA);
  margin: 0 auto;
  box-shadow: 5px -2px 32px 24px rgb(0 0 0 / 50%);
  display: flex;
}
.full-page .image{
  padding-top: 60px !important;
  padding-left: 0px !important;
}
/*@keyframes fadeOut{
  from{
    opacity: 100%;
  }
  to{
    opacity: 50%;
  }
}*/

.full-page .image img{
  width: 280px !important;
  height: 380px !important;
  animation: fadeInOut 2s infinite alternate;
}
@keyframes fadeInOut{
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.full-page .divider{
  margin: 90px 0px 90px 0px !important;
  width: 1px !important;
  height: 320px !important;
  background-color: black;
}
.full-page .form{
    width: 50%;
    height: 500px !important;
    padding: 20px 10px 10px 20px !important;
    align-items: center;
    text-align: center;
    align-content: center;
}
.form i{
  font-family: 'Krona One', sans-serif;
  font-size: 20px !important;
  color: black;
  border: 5px solid black;
  border-radius: 50%;
  padding: 5px !important;
  font-style: normal;
}
.form h4{
  padding: 15px 0px 0px 0px !important;
  margin-top: 10px !important;
  margin-left: 60px !important;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 15px !important;
  font-weight: 800;
  font-family: 'Krona One', sans-serif;
  width: 0ch;
  animation: 6s text steps(12) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
}
@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 12ch;
  }
}

.form .line{
  width: 65px !important;
  height: 1px !important;
  margin: auto;
  background-color: black;
}

label{
  font-family: 'Roboto', sans-serif;


}
.form .name{
  padding: 0px 0px !important;
  display: flex;
  padding-top: 10px !important;
}
.name img{
  width: 10px !important;
  height: 10px !important;
}
.name input{
  color: black;
  padding: -6px !important;
  width: 96px !important;
  border: none;
  padding: 0px 0px 2px 5px !important;
  background-color: transparent;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.name input::placeholder{
  color: black;
  transition: 0.6s;
}
.name input:focus{
  outline: none;
  color: black; 
}
.name input:focus::placeholder{
  opacity: 0;
}
.name .first-name,.last-name{
  color: black;
  width: 48%;
  padding: 0px 0px !important;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 15px;
}
.name .last-name{
  margin-right: 0px !important; 
}
.form .email{
  padding: 0px 0px !important;
  margin: 5px !important;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 0px !important;
}
.email img{
    width: 15px !important;
    height: 15px !important;
    margin-bottom: 4px !important;
}

.email input{
  width: 90% !important;
  color: black;
  font-size: 15px !important;
  font-weight: 600 !important;
  padding: -6px !important;
  border: none;
  padding: 3px 0px 2px 2px !important;
  background-color: transparent;
}
.email input::placeholder{
  color: black;
  transition: 0.6s;
}
.email input:focus{
  outline: none;
  color: black; 
}
.email input:focus::placeholder{
  opacity: 0;
}


.form .password{
  padding: 0px 0px 10px 0px !important;
  display: flex;
}
.password img{
  width: 15px !important;
  height: 16px !important;
    margin-bottom: 5px !important;
}
.password input{
  color: black;
  padding: -6px !important;
  width: 100px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border: none;
  padding: 0px 0px 2px 0px !important;
  background-color: transparent;
}
.password .password-confirm input{
  font-size: 12px !important;


}
.password input::placeholder{
  color: black;
  transition: 0.6s;
}
.password input:focus{
  outline: none;
  color: black; 
}
.password input:focus::placeholder{
  opacity: 0;
}
.password .password-new,.password-confirm{
  color: black;
  width: 48%;
  padding: 2px 0px !important;
  margin: 5px !important;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 15px;
}
.password .password-confirm{
  margin-right: 0px !important; 
}

.form .Create{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px !important;
  font-family: serif;
  font-weight: 800;
  padding: 5px !important;
  background: #212529;
  margin-left: 3px !important;
  border-radius: 3px;
}

.form .Or{
  margin-top: 5px !important;
  display: flex;
  justify-content: center;
}
.Or .line1{
  margin: 12px 10px !important; 
  width: 36%;
  height: 1.5px;
  background-color: black;

}
.form .Facebook{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px !important;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #3C579E;
  margin-left: 3px !important;
  border-radius: 3px;
  margin: 10px auto;
}
.form .Google{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px !important;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #CF4332;
  margin-left: 3px !important;
  border-radius: 3px;
}
  
}




/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


  .full-page .image{
    display: none !important;
  }
  .full-page .divider{
    display: none !important;

  }
  
  @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@300;400;500&display=swap');

/*Font family Link
font-family: 'Krona One', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
  padding: 0;
  margin: 0;
}

.Login-bg{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 412px !important;
  height: 100vh !important;
  position: absolute;
}
/*.design{
  position: fixed;
  z-index: 0;
  width: 30%;
  height: 50%;
  background-color: #864000;
  border-bottom-right-radius: 120px; 
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  /*border-radius: 120px;*/



.login{
  position: relative;
  z-index: 999;
  width: 412px !important;
  height: 100vh;
  padding: 10px 10px 10px 10px !important;
}
.full-page{
  width: 100%;
  height: 600px;
  background: linear-gradient(to left, #ffffff, #3F25AA);
  margin: 0 auto;
  box-shadow: 5px -2px 32px 24px rgb(0 0 0 / 50%);
  display: inline-flex;
}

.full-page .form{
    width: 100% !important;
    height: 600px !important;
    padding: 20px 10px 10px 10px !important;
    align-items: center;
    text-align: center;
    align-content: center;
}
.form i{
  font-family: 'Krona One', sans-serif;
  font-size: 25px !important;
  color: black;
  border: 5px solid black;
  border-radius: 50%;
  padding: 5px;
  font-style: normal;
}
.form h4{
  padding: 15px 0px 0px 0px;
  margin-top: 10px;
  margin-left: 80px !important;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 20px !important;
  font-weight: 800;
  font-family: 'Krona One', sans-serif;
  width: 0ch;
  animation: 6s text steps(12) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
}
@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 12ch;
  }
}

.form .line{
  width: 100px;
  height: 1px !important;
  margin: auto;
  background-color: black;
}

label{
  font-family: 'Roboto', sans-serif;


}
.form .name{
  padding: 10px 0px !important;
  display: flex;
}
.name img{
  width: 15px;
  height: 16px;
}
.name input{
  color: black;
  padding: -6px;
  width: 125px !important;
  border: none;
  padding: 3px 0px 0px 10px;
  font-weight: 600 !important;
  background-color: transparent;
}
.name input::placeholder{
  color: black;
  transition: 0.6s;
}
.name input:focus{
  outline: none;
  color: black; 
}
.name input:focus::placeholder{
  opacity: 0;
}
.name .first-name,.last-name{
  color: black;
  width: 48%;
  padding: 2px 10px;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 5px !important;
}
.name .last-name{
  margin-right: 0px !important; 
}
.form .email{
  padding: 2px 5px;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 0px;
}
.email img{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;

}

.email input{
  width: 92% !important;
  font-weight: 600 !important;
  color: black;
  padding: -6px;
  border: none;
  padding: 3px 0px 2px 5px !important;
  background-color: transparent;
}
.email input::placeholder{
  color: black;
  transition: 0.6s;
}
.email input:focus{
  outline: none;
  color: black; 
}
.email input:focus::placeholder{
  opacity: 0;
}


.form .password{
  padding: 10px 0px !important;
  display: flex;
}
.password img{
  width: 15px;
  height: 16px;
    margin-bottom: 5px;
}
.password input{
  color: black;
  padding: -6px;
  width: 125px !important;
  font-weight: 600 !important;
  border: none;
  padding: 3px 0px 2px 0px !important;
  background-color: transparent;
}
.password .password-confirm input{
  font-size: 10px !important;
}
.password input::placeholder{
  color: black;
  transition: 0.6s;
}
.password input:focus{
  outline: none;
  color: black; 
}
.password input:focus::placeholder{
  opacity: 0;
}
.password .password-new,.password-confirm{
  color: black;
  width: 48%;
  padding: 2px 0px !important;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 15px;
}
.password .password-confirm{
  margin-right: 0px !important; 
}

.form .Create{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #212529;
  margin-left: 3px !important;
  border-radius: 3px;
}

.form .Or{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.Or .line1{
  margin: 12px 10px; 
  width: 36%;
  height: 1.5px;
  background-color: black;

}
.form .Facebook{
  width: 48% !important;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #3C579E;
  margin-left: 3px !important;
  margin-right: 3px !important;
  border-radius: 3px;
  margin: 10px auto;
}
.form .Google{
  width: 48% !important;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #CF4332;
  margin-left: 3px !important;
  border-radius: 3px;
}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@300;400;500&display=swap');

/*Font family Link
font-family: 'Krona One', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
  padding: 0;
  margin: 0;
}

.Login-bg{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1500px !important;
  height: 200vh !important;
  /* max-height: 100vh; */
  position: absolute;
}
/*.design{
  position: fixed;
  z-index: 0;
  width: 30%;
  height: 50%;
  background-color: #864000;
  border-bottom-right-radius: 120px; 
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  /*border-radius: 120px;*/



.login{
  position: relative;
  z-index: 999;
  width: 110% !important;
  height: 100vh !important;
  padding: 60px 80px 80px 80px !important;
}
.full-page{
  width: 140% !important;
  height: 550px !important;
  background: linear-gradient(to left, #ffffff, #3F25AA);
  margin: 0 auto;
  box-shadow: 5px -2px 32px 24px rgb(0 0 0 / 50%);
  display: flex;
}
.full-page .image{
  padding-top: 80px !important;
  padding-left: 0px !important;
}
/*@keyframes fadeOut{
  from{
    opacity: 100%;
  }
  to{
    opacity: 50%;
  }
}*/

.full-page .image img{
  width: 570px !important;
  height: 410px !important;
  animation: fadeInOut 2s infinite alternate;
}
@keyframes fadeInOut{
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.full-page .divider{
  margin: 100px 10px 50px 10px !important;
  width: 2px;
  height: 400px;
  background-color: black;
}
.full-page .form{
    width: 50%;
    height: 500px !important;
    padding: 30px 30px 10px 30px;
    align-items: center;
    text-align: center;
    align-content: center;
}
.form i{
  font-family: 'Krona One', sans-serif;
  font-size: 40px !important;
  color: black;
  border: 5px solid black;
  border-radius: 50%;
  padding: 5px;
  font-style: normal;
}
.form h4{
  padding: 15px 0px 0px 0px;
  margin-top: 10px !important;
  margin-left: 185px !important;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 20px !important;
  font-weight: 800;
  font-family: 'Krona One', sans-serif;
  width: 0ch;
  animation: 6s text steps(12) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
}
@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 12ch;
  }
}

.form .line{
  width: 100px;
    height: 2px;
    margin: auto;
    background-color: black;
}

label{
  font-family: 'Roboto', sans-serif;


}
.form .name{
  padding: 5px 0px !important;
  display: flex;
}
.name img{
  width: 15px;
  height: 16px;
}
.name input{
  color: black;
  padding: -6px;
  width: 160px !important;
  border: none;
  padding: 3px 0px 2px 10px;
  background-color: transparent;
}
.name input::placeholder{
  color: black;
  transition: 0.6s;
}
.name input:focus{
  outline: none;
  color: black; 
}
.name input:focus::placeholder{
  opacity: 0;
}
.name .first-name,.last-name{
  color: black;
  width: 48%;
  padding: 0px 0px !important;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 15px;
}
.name .last-name{
  margin-right: 0px !important; 
}
.form .email{
  padding: 2px 5px;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 0px;
}
.email img{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;

}

.email input{
  width: 93%; 
  color: black;
  padding: -6px;  
  border: none;
  padding: 3px 0px 2px 10px;
  background-color: transparent;


}
.email input::placeholder{
  color: black;
  transition: 0.6s;
}
.email input:focus{
  outline: none;
  color: black; 
}
.email input:focus::placeholder{
  opacity: 0;
}


.form .password{
  padding: 5px 0px !important;
  display: flex;
}
.password img{
  width: 15px;
  height: 16px;
    margin-bottom: 5px;
}
.password input{
  color: black;
  padding: -6px;
  width: 160px !important;
  border: none;
  padding: 3px 0px 2px 10px;
  background-color: transparent;
}
.password input::placeholder{
  color: black;
  transition: 0.6s;
}
.password input:focus{
  outline: none;
  color: black; 
}
.password input:focus::placeholder{
  opacity: 0;
}
.password .password-new,.password-confirm{
  color: black;
  width: 48%;
  padding: 0px 0px !important;
  margin: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,30%);
  margin-right: 15px;
}
.password .password-confirm{
  margin-right: 0px !important; 
}

.form .Create{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #212529;
  margin-left: 3px !important;
  border-radius: 3px;
}

.form .Or{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.Or .line1{
  margin: 12px 10px; 
  width: 36%;
  height: 1.5px;
  background-color: black;

}
.form .Facebook{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #3C579E;
  margin-left: 3px !important;
  border-radius: 3px;
  margin: 10px auto;
}
.form .Google{
  width: 100%;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-family: serif;
  font-weight: 800;
  padding: 5px;
  background: #CF4332;
  margin-left: 3px !important;
  border-radius: 3px;
}
  
}